<div class="footer-container">
  <!-- Icono de veneno -->
  <div *ngIf="selectedCounter === 'life'" class="icon-container" (click)="selectCounter('poison')">
    <img src="../../assets/icon/poison.png" alt="Poison Icon">
  </div>

  <!-- Icono de comandante -->
  <div *ngIf="selectedCounter === 'life'" class="icon-container" (click)="selectCounter('edh')">
    <img src="../../assets/icon/edh.png" alt="EDH Icon">
  </div>


  <!-- Icono de volver -->
  <div *ngIf="selectedCounter !== 'life'" class="icon-container" (click)="selectCounter('life')">
    <ion-icon name="return-up-back"></ion-icon>
  </div>
</div>
