<div class="calculadora-container">
  <input type="text" [(ngModel)]="inputValue" readonly>
  <div class="buttons">
      <button (click)="addToInput('1')">1</button>
      <button (click)="addToInput('2')">2</button>
      <button (click)="addToInput('3')">3</button>
      <button (click)="addLife()">+</button>
      <button (click)="addToInput('4')">4</button>
      <button (click)="addToInput('5')">5</button>
      <button (click)="addToInput('6')">6</button>
      <button (click)="subtractLife()">-</button>
      <button (click)="addToInput('7')">7</button>
      <button (click)="addToInput('8')">8</button>
      <button (click)="addToInput('9')">9</button>
  </div>
</div>
