<ion-content>
  <div class="container">
    <!-- Jugador 1 -->
    <div class="player player1">
      <div class="header">
        <ion-icon name="ellipsis-vertical" class="options-icon" (click)="toggleColores(1)"></ion-icon>
        <div *ngIf="vidaCambioJugador1 !== 0" class="vida-cambio">{{ vidaCambioJugador1 > 0 ? '+' : '' }}{{ vidaCambioJugador1 }}</div>
      </div>
      <div *ngIf="!mostrarColoresJugador1" class="life-container">
        <label class="btn-wrapper" (click)="disminuirVida(1)">
          <ion-button class="custom-btn"><ion-icon name="remove-outline"></ion-icon></ion-button>
        </label>
        <div class="flex-container">
          <!-- Contador de Vida -->
          <ion-label *ngIf="selectedCounterJugador1 === 'life'" class="life" [class.life-zero]="vidaJugador1 <= 0">{{ vidaJugador1 }}</ion-label>
          <!-- Contador de Veneno -->
          <ion-label *ngIf="selectedCounterJugador1 === 'poison'" class="life"[class.life-zero]="contadoresJugador1.poison == 10">{{ contadoresJugador1.poison }}</ion-label>
          <!-- Contador de Comandante -->
          <ion-label *ngIf="selectedCounterJugador1 === 'edh'" class="life"[class.life-zero]="contadoresJugador1.edh == 21">{{ contadoresJugador1.edh }}</ion-label>
          <!-- Contador de energía -->
          <ion-label *ngIf="selectedCounterJugador1 === 'energy'" class="life">{{ contadoresJugador1.energy }}</ion-label>
          <ion-icon *ngIf="selectedCounterJugador1 === 'life'" name="heart" class="heart-icon"></ion-icon>
          <img *ngIf="selectedCounterJugador1 === 'edh'" name="edh" class="edh-icon" src="../../assets/icon/edh.png" alt="EDH Icon">
          <img *ngIf="selectedCounterJugador1 === 'poison'" name="poison" class="edh-icon" src="../../assets/icon/poison.png" alt="poison Icon">
          <img *ngIf="selectedCounterJugador1 === 'energy'" name="energy" class="edh-icon" src="../../assets/icon/energi.png" alt="energy Icon">
        </div>
        <label class="btn-wrapper" (click)="aumentarVida(1)">
          <ion-button class="custom-btn"><ion-icon name="add-outline"></ion-icon></ion-button>
        </label>
      </div>
      <app-colores *ngIf="mostrarColoresJugador1" (selectedColor)="changePlayerColor(1, $event)"></app-colores>
      <!-- Footer del Jugador 1 -->
      <app-player-footer [jugador]="1" *ngIf="!mostrarColoresJugador1" (counterChanged)="handleCounterChange($event)"></app-player-footer>
    </div>

    <!-- Barra horizontal -->
    <div class="divider"></div>

    <!-- Jugador 2 -->
    <div class="player player2">
      <div class="header">
        <ion-icon name="ellipsis-vertical" class="options-icon" (click)="toggleColores(2)"></ion-icon>
        <div *ngIf="vidaCambioJugador2 !== 0" class="vida-cambio">{{ vidaCambioJugador2 > 0 ? '+' : '' }}{{ vidaCambioJugador2 }}</div>
      </div>
      <div *ngIf="!mostrarColoresJugador2" class="life-container">
        <label class="btn-wrapper" (click)="disminuirVida(2)">
          <ion-button class="custom-btn"><ion-icon name="remove-outline"></ion-icon></ion-button>
        </label>
        <div class="flex-container">
          <!-- Contador de Vida -->
          <ion-label *ngIf="selectedCounter2 === 'life'" class="life" [class.life-zero]="vidaJugador2 <= 0">{{ vidaJugador2 }}</ion-label>
          <!-- Contador de Veneno -->
          <ion-label *ngIf="selectedCounter2 === 'poison'" class="life"[class.life-zero]="contadoresJugador2.poison == 10">{{ contadoresJugador2.poison }}</ion-label>
          <!-- Contador de Comandante -->
          <ion-label *ngIf="selectedCounter2 === 'edh'" class="life"[class.life-zero]="contadoresJugador2.edh == 21">{{ contadoresJugador2.edh }}</ion-label>
          <!-- Contador de energía -->
          <ion-label *ngIf="selectedCounter2 === 'energy'" class="life">{{ contadoresJugador2.energy }}</ion-label>
          <ion-icon *ngIf="selectedCounter2 === 'life'" name="heart" class="heart-icon"></ion-icon>
          <img *ngIf="selectedCounter2 === 'edh'" name="edh" class="edh-icon" src="../../assets/icon/edh.png" alt="EDH Icon">
          <img *ngIf="selectedCounter2 === 'poison'" name="poison" class="edh-icon" src="../../assets/icon/poison.png" alt="poison Icon">
          <img *ngIf="selectedCounter2 === 'energy'" name="energy" class="edh-icon" src="../../assets/icon/energi.png" alt="energy Icon">
        </div>
        <label class="btn-wrapper" (click)="aumentarVida(2)">
          <ion-button class="custom-btn"><ion-icon name="add-outline"></ion-icon></ion-button>
        </label>
      </div>
      <app-colores *ngIf="mostrarColoresJugador2" (selectedColor)="changePlayerColor(2, $event)"></app-colores>
      <!-- Footer del Jugador 2 -->
      <app-player-footer [jugador]="2" *ngIf="!mostrarColoresJugador2" (counterChanged)="handleCounterChange($event)"></app-player-footer>
    </div>
  </div>
</ion-content>
