<ion-content>
  <div class="container">
    <!-- Jugador 1 -->
    <div class="player player1">
      <div class="header">
        <ion-icon name="ellipsis-vertical" class="options-icon" (click)="toggleColores(1)"></ion-icon>
        <div *ngIf="vidaCambioJugador1 !== 0" class="vida-cambio">{{ vidaCambioJugador1 > 0 ? '+' : '' }}{{ vidaCambioJugador1 }}</div>
      </div>
      <div *ngIf="!mostrarColoresJugador1" class="life-container">
        <ion-button (click)="disminuirVida(1)" slot="start">-</ion-button>
        <ion-label class="life" [class.life-zero]="vidaJugador1 === 0">{{ vidaJugador1 }}</ion-label>
        <ion-button (click)="aumentarVida(1)" slot="end">+</ion-button>
      </div>
      <!-- Ícono del corazón -->
      <ion-icon *ngIf="!mostrarColoresJugador1" name="heart" class="heart-icon"></ion-icon>
      <app-colores *ngIf="mostrarColoresJugador1" (selectedColor)="changePlayerColor(1, $event)"></app-colores>
      <!-- Footer del Jugador 1 -->
      <app-player-footer *ngIf="!mostrarColoresJugador1"></app-player-footer>
    </div>

    <!-- Barra horizontal -->
    <div class="divider"></div>

    <!-- Jugador 2 -->
    <div class="player player2">
      <div class="header">
        <ion-icon name="ellipsis-vertical" class="options-icon" (click)="toggleColores(2)"></ion-icon>
        <div *ngIf="vidaCambioJugador2 !== 0" class="vida-cambio">{{ vidaCambioJugador2 > 0 ? '+' : '' }}{{ vidaCambioJugador2 }}</div>
      </div>
      <div *ngIf="!mostrarColoresJugador2" class="life-container">
        <ion-button (click)="disminuirVida(2)" slot="start">-</ion-button>
        <ion-label class="life" [class.life-zero]="vidaJugador2 === 0">{{ vidaJugador2 }}</ion-label>
        <ion-button (click)="aumentarVida(2)" slot="end">+</ion-button>
      </div>
      <!-- Ícono del corazón -->
      <ion-icon *ngIf="!mostrarColoresJugador2" name="heart" class="heart-icon"></ion-icon>
      <app-colores *ngIf="mostrarColoresJugador2" (selectedColor)="changePlayerColor(2, $event)"></app-colores>
      <!-- Footer del Jugador 2 -->
      <app-player-footer *ngIf="!mostrarColoresJugador2"></app-player-footer>
    </div>
  </div>
</ion-content>
