.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.player {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; /* Cambio aquí */
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px 0; /* Añadido para dar un poco de espacio vertical */
}

.header {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Aseguramos que el contenido comienza a la izquierda */
  width: 100%;
  padding: 10px 0;
}

.options-icon {
  font-size: 24px;
  margin-left: 10px;
}

.player1 {
  transform: rotate(180deg);
}

.life-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  flex-grow: 1; /* Añadido para que ocupe todo el espacio vertical disponible */
}

.life {
  font-size: 48px;
  flex-grow: 1;
  text-align: center;
}

.divider {
  height: 2px;
  background-color: #ccc;
  width: 100%;
}
