<ion-content>
  <div class="container">
    <!-- Jugador 1 -->
    <div class="player player1">
      <div class="header">
        <ion-icon name="ellipsis-vertical" class="options-icon" (click)="toggleColoresJugador1()"></ion-icon>
      </div>
      <div *ngIf="!mostrarColoresJugador1" class="life-container">
        <ion-button (click)="disminuirVida(1)" slot="start">-</ion-button>
        <ion-label class="life" [class.life-zero]="vidaJugador1 === 0">{{ vidaJugador1 }}</ion-label>
        <ion-button (click)="aumentarVida(1)" slot="end">+</ion-button>
      </div>
      <app-colores *ngIf="mostrarColoresJugador1"></app-colores>
    </div>

    <!-- Barra horizontal -->
    <div class="divider"></div>

    <!-- Jugador 2 -->
    <div class="player player2">
      <div class="header">
        <ion-icon name="ellipsis-vertical" class="options-icon" (click)="toggleColoresJugador2()"></ion-icon>
      </div>
      <div *ngIf="!mostrarColoresJugador2" class="life-container">
        <ion-button (click)="disminuirVida(2)" slot="start">-</ion-button>
        <ion-label class="life" [class.life-zero]="vidaJugador2 === 0">{{ vidaJugador2 }}</ion-label>
        <ion-button (click)="aumentarVida(2)" slot="end">+</ion-button>
      </div>
      <app-colores *ngIf="mostrarColoresJugador2"></app-colores>
    </div>
  </div>
</ion-content>
