.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.player {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; 
  --text-color: white; 
}

.header {
  display: flex;
  align-items: center;
  justify-content: flex-start; 
  width: 100%;
  padding: 10px 0;
}

.options-icon {
  font-size: 24px;
  margin-left: 10px;
}

.player1 {
  transform: rotate(180deg);
}

.life-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  flex-grow: 1; 
}

.life {
  font-size: 6em;
  flex-grow: 1;
  text-align: center;
  text-shadow: 2px 2px 4px #000;
}

.life-zero {
  color: red;
}

.positive-life {
  color: white;
}

.divider {
  height: 2px;
  background-color: #ccc;
  width: 100%;
}
